<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:heading {"level":1} -->
	<h1 class="wp-block-heading">Page introuvable</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>La page demandee n'existe pas ou a ete deplacee.</p>
	<!-- /wp:paragraph -->

	<!-- wp:search {"label":"Recherche","showLabel":false,"placeholder":"Rechercher","buttonText":"Rechercher"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
