<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"rp-page-shell","layout":{"type":"constrained"}} -->
<main class="wp-block-group rp-page-shell">
	<!-- wp:breadcrumbs {"separator":"›","className":"rp-breadcrumbs"} /-->

	<!-- wp:group {"className":"rp-page-header","layout":{"type":"constrained","justifyContent":"left"}} -->
	<div class="wp-block-group rp-page-header">
		<!-- wp:post-title {"level":1} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
